@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --background-grey: #212024;
  --background: #08070b;
  --highlight-text: #f2f2f2;
  --basic-text: #8f9ba8;

  color: var(--basic-text);
  background-color: var(--background);
}

